.title {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  font: 32px calibri;
  border: solid;
  border-color: #8c8c8c;
}
ol {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}



footer {
  font: 10px calibri;
}

button {
  display: inline-block;
  width: 200px;
  font: 16px calibri;
  padding: 0;
  height: 50px;
  border: none;
}
button a {
  display: inline-block;
}
button:hover {
  background-color: #555;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}
.desc {
  font: 16px calibri;
  background-color: #F1F1F1;
  width: 530px;
  padding: 20px;
  border: solid;
  border-color: #8c8c8c;
}
.submit {
  border-radius: 12px;
  background-color: #F1F1F1;
  border: solid;
  border-color: #8c8c8c;
}

.inputs {
  font: 16px calibri;
  background-color: #F1F1F1;
  width: 530px;
  padding: 20px;
  border: solid;
  border-color: #8c8c8c;
}
h3 {
  font: 25px calibri;
}
